//create/edit project
.s-create {
  margin-top: 3.75rem;

  .container-p {
    h1 {
      margin-bottom: 1.5rem;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  form {
    #dropdownSearchButton {
      background-color: #202024 !important;
      margin-top: 0.75rem;
      width: 9.375rem;
      height: 2.5rem;
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .image-container {
        width: 290px;
        height: 495px;

        label {
          #photo {
            position: absolute;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            filter: brightness(45%) !important;
          }

          .content {
            margin-top: 0.75rem;
            position: relative;
            background-color: #202024;
            width: 100%;
            height: 92%;
            border-radius: 0.3125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #7C7C8A;
            overflow: hidden;

            .icon {
              z-index: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }

          }
        }



      }

      .right {
        width: 100%;
        max-width: 49.375rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .selects {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .select {
            display: flex;
            flex-direction: column;

            select {
              margin-top: 0.75rem;
              width: 150px;
            }

            .input {
              width: 8.125rem;
            }
          }
        }

        .author-studio {
          display: flex;
          justify-content: space-between;

          button {
            width: 2.5625rem;
            height: 2.5625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #A93F3F;
            border-radius: 0.3125rem;

            &:hover {
              background-color: #8A2D2D !important;
            }
          }

          select {
            width: 18.75rem;
          }

          .author {
            display: flex;
            align-items: flex-end;
            gap: 0.75rem;
          }

          .studio {
            display: flex;
            align-items: flex-end;
            gap: 0.75rem;

          }
        }
      }
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      margin-top: 3.75rem;
    }

    .form-imgs {
      margin-top: 3.75rem;

      .images {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          label {
            font-weight: 600;
            font-size: 0.875rem;
            color: #C4C4CC;
            text-align: center;
          }

          .content {
            width: 9.375rem;
            height: 9.375rem;
            background-color: #202024;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #7C7C8A;
            margin-bottom: 0.75rem;
            overflow: hidden;
            position: relative;

            .user {
              position: absolute;
              object-fit: cover;
              filter: brightness(45%) !important;
            }

            #iconUsr {
              z-index: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}




// Show project

.adminConfig {
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px solid #4b5563;
}


.s-hero {
  position: relative;
  overflow: hidden;

  .bg-image {
    background-size: 700px;
    filter: blur(10px) brightness(20%);
    -webkit-filter: blur(10px) brightness(20%);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .container {
    width: 69.75rem;
    margin: 0 auto;

    .container-content {
      position: absolute;
      z-index: 1;
      top: 30px;
      display: flex;

      .image {
        width: 100%;
        max-width: 290px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.3125rem;
        }
      }

      .content {
        width: 100%;
        margin-left: 1.875rem;

        .header-content {
          display: flex;

          .config {
            width: 100%;
            max-width: 2.25rem;
            height: 2.25rem;
            background-color: #A93F3F;
            border-radius: 0.3125rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            cursor: pointer;

            &:hover {
              background-color: #7C2F2F;
            }
          }

          .titleProject {
            max-width: 53.4375rem;

            h1 {
              font-weight: 700;
              font-size: 1.75rem;
              line-height: 34px;
              margin-bottom: 8px;
              font-family: 'Inter' !important;
            }

            p {
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.1875rem;
            }
          }
        }

        .body-content {

          .synopsis {
            width: 100%;
            max-width: 790px;
            font-weight: 400;
            font-size: 0.875rem !important;
            line-height: 17px;
            margin-top: 1.125rem;
            height: 11.75rem;

          }

          .categories {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-top: 45px;
            flex-wrap: wrap;
            max-width: 790px;

            button {
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
            }
          }

          .info {
            display: flex;
            align-items: center;
            gap: 38px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            margin-top: 22px;

            .info-text {
              display: flex;
              align-items: flex-end;
              gap: 8px;

              .icon-heart {
                width: 20px;
                height: 20px;
              }

              span {
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                  color: #A93F3F;
                }
              }
            }
          }
        }
      }
    }
  }



}

.s-chapters {
  width: 100%;
  max-width: 69.75rem;
  margin: 3.125rem auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      i {
        color: #A93F3F;
        font-size: 32px;
      }
    }

    .search {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        color: #6b7280;

        span {
          font-size: 32px;
        }

        &:hover {
          color: #A93F3F;
        }
      }
    }



  }

  .container-btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2.8125rem;
    width: 100%;

    .btns {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        background-color: #A93F3F;
        padding: 6px;
        width: 120px;
        text-align: center;
        border-radius: 5px;

        &:hover {
          background-color: #8A2D2D;
        }
      }
    }

  }

  .container-chapters {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .card-chapter {
      width: 100%;
      max-width: 21.5625rem;
      height: 6.25rem;
      background-color: #28282E;
      display: flex;
      align-items: center;
      border-radius: 0.3125rem;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 10px, rgba(15, 15, 15, 0.23) 0px 6px 6px;
      position: relative;

      &:hover {
        filter: brightness(90%);
      }

      .img {
        width: 100%;
        max-width: 10.9375rem;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          text-align: center;
        }
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;

        p {
          font-weight: 700;
          font-size: 1rem;
          line-height: 1.1875rem;
        }

        span {
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.0625rem;
          color: #AFAFAF;
        }
      }

      .delete {
        position: absolute;
        bottom: 0px;
        right: 6px;
        color: #A93F3F;

        &:hover {
          color: #8A2D2D;
        }
      }
    }
  }


}



.modal-body {
  display: flex;
  font-size: 0.875rem;
  color: #F2F2F2;

  .items {
    p {
      margin-bottom: 12px;
      font-weight: 700;
    }
  }

  .items-description {
    margin-left: 24px;

    a {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      color: #ccc;
      font-weight: 500;

      &:hover {
        color: #A93F3F;
      }
    }
  }
}


// Index project

.container-manga {
  display: flex;
  flex-wrap: wrap;
  gap: 4.4375rem;

  @media (max-width: 560px) {
    gap: 32px;
  }
}


//chapters

.s-view-chapter {
  margin-top: 4.375rem;

  .header {
    margin-bottom: 48px;

    .title {
      display: flex;
      font-size: 1.75rem;
      justify-content: center;
      gap: 0.5rem;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .sub {
      margin-top: 1.5rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .nav {
        max-width: 50%;
      }

      .container-btns {
        .btns {
          display: flex;
          gap: 1.5rem;

          a {
            display: flex;
            align-items: center;
            gap: 0.375rem;
            background-color: #A93F3F;
            width: 110px;
            padding: 6px;
            border-radius: 5px;

            &:hover {
              background-color: #8A2D2D;
            }

            .next {
              transform: rotate(-180deg)
            }
          }
        }
      }
    }
  }

  .chapter-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .btns {
      display: flex;
      gap: 1.5rem;

      a {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        background-color: #A93F3F;
        width: 110px;
        padding: 6px;
        border-radius: 5px;

        &:hover {
          background-color: #8A2D2D;
        }

        .next {
          transform: rotate(-180deg)
        }
      }
    }
  }


}